 /* Pseudo elements */
 h1::first-letter{
    color:green;
 }
 p::first-line{
    color: purple;
 }
 
 p::selection{
    background-color: yellow;
 }
 /* when you select the portion then its color change untill it is selected */
 
 
 /* psuedo Class */
 button:hover{
    background-color: black;
    color: azure;
 }
 h3:hover{
    text-decoration: overline;
 }
 
 button:active{
    background-color: pink;
    color: black ;
    /* when we click the button the color will be change */
 }
 p:active{
    font-weight: bold;
color: green;
 }
 input [type="radio"]:checked + label{
    color: red;  
    /* this didnt work in my case */
    font-weight: bold;
 }

div:nth-of-type(2n){
background-color: hotpink;
 }
 
 /* Attribute Selector */
 /* input[type="text"]{
    color: red;
}
input[type="password"]{
    color: green;
}
  
input[type]{
    background-color: ghostwhite;
} */






/* child Combinator */
div >input {
    background-color: darksalmon 
}
/* draw back of child selector is that it only consider direct descendant tag  due to which descendant is used more than child selector*/
/* this wont work
nav  >a {
    color: hotpink; */

/* instead of writing nav ul li a we can write nav a 
then nav me jeetne bhi a hai unka color change ho ja yega  */

/* this  is decendant selector yeh nhi dekh ta ke direct hai yeh indirect descendant

yeh nav ke sare a ka color change ker dega*/
nav a{
    color: hotpink;
}
 /* nav ul li a{  
    color: hotpink;
  } */


/* Sibling selector */
p +h3{
    text-decoration: underline;
}

.upvote +button{
      background-color: cyan;
      color:antiquewhite;
}

/* descendant selector */
/* p a{
 color: purple;
 background-color: yellow;
} */

.post a{
    color: purple;
    background-color: yellow; 
 }


*{
    font-family: 'Courier New', Courier, monospace;
 }  
 h1,h3{
    color: #b92b27;
 }
#login{
    background-color: white ;
}
#signup{
    background-color: #b92b27;
    color: white;
}

/* class selector */
.upvote{
  background-color: green;
  color: aliceblue;
}

/* practise qs */
#myid p{
    color: green;
}

/* OR */
/* div[id=myid]{
    color: green;
} */


h3{
    background-color:  green;
}
h3{
    background-color: blue;
}