label{
    display: block;
    margin-top: 25px;
    margin-bottom: 12px;
}
.ans{
    border: 2px solid black;
    width:20%;
    padding-top: 3px;
    padding-left: 2px;
    height: 50px;
    margin: 23px 3px;
}